.layout {
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-areas: 
  "nav main"
  "nav main"
  "nav footer";
  grid-template-columns:200px 1fr ;
  grid-template-rows: 1fr 1fr 100px;
}


.nav{
  grid-area: nav;
  height: 100%;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  height: 100%;
}