.container{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.aside{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: black;

}

.main{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: green;

}

.footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: blue;

}

@media (max-width: var(--screen-md-max)){
    .container {
        grid-template-columns: 1fr;
    }
    .aside{
        display: none;
    }
}