.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "nav main"
    "nav main"
    "nav footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr 100px;
  background-image: url("../../../../public/images/App.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nav {
  grid-area: nav;
  height: 100%;
}

.main {
  width: 100%;
  grid-area: main;
}

.footer {
  grid-area: footer;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .layout {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr 100px;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 767px) {
  .layout {
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1fr 1fr 100px;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 479px) {
  .layout {
    height: 100vh;
    width: 100vw;
    width: auto;
    display: grid;
    place-items: center;
    grid-template-areas:
      "."
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 20px 1fr 100px;
    background-attachment: scroll;

  }

  .nav {
    grid-area: nav;
    display: flex;

  }
}