.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "nav main"
    "nav main"
    "nav footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr 100px;
}
.nav {
  grid-area: nav;
  height: 100%;
}
.main {
  width: 100%;
  grid-area: main;
}
.footer {
  grid-area: footer;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .layout {
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr 100px;
  }
}
@media screen and (max-width: 767px) {
  .layout {
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1fr 1fr 100px;
  }
}
@media screen and (max-width: 479px) {
  .layout {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10px 1fr 100px;
  }
  .nav {
    grid-area: nav;
    height: 100%;
  }
}