@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Consolas&display=swap');

:root {
    --screen-sm-max: 600px;
    /* Maximum width for small screens */
    --screen-md-max: 960px;
    /* Maximum width for medium screens */
    --screen-lg-max: 1280px;
    /* Maximum width for large screens */
    --screen-xl-max: 1536px;
    /* Maximum width for extra-large screens */
}


body {
    background: #0D2F4B;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100%;
}

.landing {
    display: flex;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
}

h1 {
    margin: 0;
}

input {
    background-color: transparent;
    border: none;
}

input[type='text']:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: unset;
}